@model Project3_FinalExam.ViewModels.GraduateViewModel

@{
    ViewData["Title"] = "Graduate Majors";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="graduate-div">

    <h1 class="title">Graduate Majors</h1>
    <div id="myGradDegrees"></div>

</div>

@foreach (var grad in Model.Grads)
{
    @if (grad.concentrations != null)
    {
        <h3 id=@String.Concat("myHdng", grad.degreeName)><b>@grad.degreeName.ToUpper()</b></h3>

        <div id=@String.Concat("myDiv", grad.degreeName)>
            <p>@grad.title</p>
            <p>@grad.description</p>
            <ul>
                @foreach (var conc in @grad.concentrations)
                {
                    <li>@conc</li>

                }
            </ul>
        </div>
    }

    @if (grad.availableCertificates != null)
    {

        <h3 id=@String.Concat("myHdng", grad.degreeName)><b>@grad.degreeName.ToUpper()</b></h3>

        <div id=@String.Concat("myDiv", grad.degreeName)>
            <ul>
                @foreach (var cert in @grad.availableCertificates)
                {
                    <li>@cert</li>

                }
            </ul>
        </div>

    }
}
@*Get jQuery and jQueryUI Scripts from wwwroot*@
<script src="~/jquery/jquery.js"></script>
<link rel="stylesheet" href="~/jqueryui/themes/le-frog/jquery-ui.min.css">
<script src="~/jqueryui/jquery-ui.js"></script>
<script>
    // Create Accordion
    let headings = document.querySelectorAll("h3");
    let divs = document.querySelectorAll("[id^='myDiv']");

    for (var i = 0; i < headings.length; i++) {
        $("#myGradDegrees").append($("#" + headings[i].id));
        $("#myGradDegrees").append($("#" + divs[i].id));
    }

    $('#myGradDegrees').accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
    });
</script>