@model Project3_FinalExam.ViewModels.AboutViewModel

@{
    ViewData["Title"] = "About";
}

<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] <span id="homepage-RIT">RIT</span></h1>
</div>
<div id="index-div">


    <img src="~/images/homePageImage.jpeg" id="homepage-image" />


    @*add text from 'about' API endpoint*@


    <h1 class="title">@Model.About.title</h1>
    <p id="paragraph-div">@Model.About.description</p>

    <p></p>
    <div id="info-div">
        <p id="homepage-quote"><span>"</span>@Model.About.quote<span>"</span></p>
        <span id="homepage-quote-author"> - @Model.About.quoteAuthor</span>
    </div>
</div>
